In [1]:
print("hello coders")

hello coders

In [25]:
a= 26
print(a)
x = 30
print(type(x))
x = 70.60
print((type(x)))
print("Mahi's Six was the biggest")

26
<class 'int'>
<class 'float'>
Mahi's Six was the biggest

In [27]:
a = 10
print(id(a))
b = 20
print(id(b))

94335520578336
94335520578656

In [28]:
a = b = c = 10
print(a)
print(b)
print(c)

10
10
10

In [36]:
 a = b = c = 10
print(a,  end =  ' ')
print(b,  end = ' ')
print(c)
print(a, b, c)

10 10 10
10 10 10

In [37]:
a, b, c= 30, 50, 70
print(a, b, c)

30 50 70

In [48]:
# Input
# adding two values
a = int(input('enter first value'))
b = int(input('enter second value'))
res= a + b
print(f' sum: {res}')

enter first value 40
enter second value 40
 sum: 80

In [51]:
a = b = c = 10
print(id(a), id(b), id(c))
b = 20
print(id(a), id(b), id(c))
print(a, b, c)

94335520578336 94335520578336 94335520578336
94335520578336 94335520578656 94335520578336
10 20 10

In [1]:
# LIST
li = [10, 20, 30, 40, 50]
print(type(li))

<class 'list'>

In [9]:
li = [10, 50.5, 'hello', "coders", 12+5j]
print(li)

[10, 50.5, 'hello', 'coders', (12+5j)]

In [10]:
print(li[2])

hello

In [12]:
li = [5, 7, 0, 8, 6]
print(li)
print(5 in li)

[5, 7, 0, 8, 6]
True

In [13]:
print(9 in li)

False

In [14]:
li = [1, 2, 3]
print(li * 5)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [16]:
li1 = [1, 2, 3]
li2 = [4, 5, 6]
print(li1 + li2)

[1, 2, 3, 4, 5, 6]

In [18]:
li = [5, 7, 0, 8, 6]
for i in li:
  print(i)

5
7
0
8
6

In [20]:
li= [1, 2, 3, 4 ,5]
print(li)
li[2] = 9
print(li)

[1, 2, 3, 4, 5]
[1, 2, 9, 4, 5]

In [24]:
s=('welcome')
print(s)
s[3] ='d'
print(s)

welcome

TypeError: ignored

In [28]:
# assignment take 2 inputs and store in variable x and y and find result of x*y

x = 2
y = 3
print (x * x * x)

8